<div class="container">
  <div class="card">
    <div class="card-header p-4">
      <h5 class="mb-0">
        <i class="fa-solid fa-user me-3"></i>Login
      </h5>
    </div>
    <div class="card-body p-4">
      <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
        <div class="col-6">
          <label class="form-label">Usuario: </label>
          <input type="text" class="form-control" formControlName="usuario" />
         </div>
         <div class="col-6">
          <label class="form-label">Contraseña: </label>
          <input type="password" class="form-control" formControlName="password" />
         </div>
        <ul>
          <a routerLink="/restablecerContrasena">Restablecer contraseña</a>
        </ul>
        <br>
         <div class="col-12 text-left">
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
            <i class="fa-solid fa me-2"></i>Login
          </button>
         </div>
        
        </form>




    
        
    </div>
  </div>
 </div>


